{{ $ := .root }}
{{ $page := .page }}
<section class="perspectsection mt-5" id="{{ replaceRE "(\\s)" "-" $page.Title | lower }}">
    <h1> {{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    
    {{ if $page.Params.item }}
        {{ range $idx, $key := sort $page.Params.item ".date_start" "desc" }}    
            <div class="listingsection">
                <div class="row align-items-center">
                    <div class="col-md-4"><a href="{{.linkUrl}}" {{if .openNewWindow }} target="_blank" {{end}}>{{- with .image -}}<img src="{{. | absURL }}" alt="">{{- end -}}</a></div> 
                    <div class="col-md-8 info">
                        <h3><a href="{{.linkUrl}}" {{if .openNewWindow }} target="_blank" {{end}}>{{.title | markdownify | emojify}}</a></h3>
                        {{- with .summary -}}<p>{{. | markdownify | emojify}}</p> {{- end -}}
                        <p class="mt-4"><a href="{{.linkUrl}}" {{if ne .openNewWindow false  }} target="_blank" {{end}}> {{.linkText}}</a></p>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}

    
    {{ if $page.Params.smallItem }}
        <div class="linksbtm">
            {{ range $idx, $key := sort $page.Params.smallItem ".date_start" "desc" }}    
                <div class="toclinks">
                    <div class="row">
                        <div class="col-md-2">{{- with .image -}}<img src="{{. | absURL }}" alt="">{{- end -}}</div>
                        <div class="col-md-10">
                            <p><a href="{{.linkUrl}}" {{if ne .openNewWindow  false }} target="_blank" {{end}}>{{.title | markdownify | emojify}}</a></p>
                            {{- with .summary -}}<p>{{. | markdownify | emojify}}</p> {{- end -}}
                        </div>
                    </div>
                </div>

            {{end}}
        </div>
    {{end}}

    <div class="row">
        <div class="col-12">
            {{ with $page.Content }}{{ . }}{{ end }}
        </div>

    </div>
</section>