<div class="col-md-3 mainright">
    <div class="subscribeform">
        <h6>Get updates on container technology </h6>
        <div class="formsection mt-2">
            <label>Your email *</label>
            <div><input type="email" class="form-control"></div>
            <div class="buttonbtm mt-3"><button class="btn btn-theme" type="submit">Subscribe</button></div>
        </div>
    </div>
    <div class="bannerone"><img src="{{"images/O'Reilly_Book-wiki-250--banner.jpg" | absURL }}" alt=""></div>
    <div class="bannerone"><img src="{{"images/Securosis Report wiki ad 250_250.jpg" | absURL }}" alt=""></div>
</div>