

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<!-- Off Canvas -->
	<script>
		$(document).ready(function() {
    
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
  
});
  </script>
  
  <script>
    $(document).ready(function(){

      /*
        $('.sidebar-nav .nav-item').not(this).each(function(a, b){
          $(b).find('.collapse.show').each(function(x, y) {
              $(this).removeClass('show');
          });
        });

        $('.sidebar-nav').on('hidden.bs.collapse', function () {
         
          $(this).find(".nav-link.active").parent(".nav-item").addClass( 'current-list' )
        })

        */



      $(".sidebar-nav").each(function(){
        //$(this).find(".nav-link.active").parent(".nav-item").addClass( 'current-list' ).parent('.list-unstyled').addClass('show');
        //$(this).find(".nav-link.active").parent(".nav-item").addClass( 'current-list' ).parent('.list-unstyled').parent('nav-item').find('arrow').removeClass(' collapsed');

        $(this).find(".nav-link.active").closest('.list-unstyled').addClass('show');
        $(this).find(".list-unstyled.show").closest('.nav-item').find('.arrow').removeClass('collapsed ');

        $(this).find(".nav-link.active").closest('.list-unstyled').closest('.nav-item').closest('.list-unstyled').addClass('show');
        $(this).find(".nav-link.active").closest('.list-unstyled').closest('.nav-item').closest('.list-unstyled').closest('.nav-item').find('.arrow').removeClass('collapsed ');



         
        //$('li.active').removeClass('active');
        //$('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 

        //$(this).find(".nav-link.active").parent('.nav-item').addClass( 'sdsf' )

        //$(this).siblings('.nav-link.active').parent().( 'ul.list-unstyled' ).addClass( 'show' );
      });

        // Add minus icon for collapse element which is open by default
        // $(".collapse.show").each(function(){
        //     $(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        // });
        
        // Toggle plus minus icon on show hide of collapse element
        // $(".collapse").on('show.bs.collapse', function(){
        //     $(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        // }).on('hide.bs.collapse', function(){
        //     $(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        // });
    });
    </script>
</body>
</html>