<div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light p-0" id="sidebar" role="navigation">
    <div class="sticky-top">
        {{$tit := .Title}}
        <h3><a href="/">Container Technology Wiki</a> </h3>

        
        {{ range  .Site.Data.menu.sidebar}}
            <h4><a href="{{.url | lower }}"><span>{{if .icon }}  {{else }}{{end}}{{.sectionMain}}</span></a></h4>
            {{if .childrenContent }}
                {{range .childrenContent }}           
                    <ul class="nav flex-column pl-0 sidebar-nav">
                        <li class="main-item"><a class="nav-link" href="{{.url | lower }}">{{.name}} </a></li>
                        {{range .sectionList}}   
                            {{if .child}} 
                                <li class="nav-item">
                                    <span href="#{{replaceRE "(\\s)" "-" .name | lower }}" data-toggle="collapse" data-target="#{{replaceRE "(\\s)" "-" .name | lower}}" class="arrow collapsed">&nbsp;</span> 
                                    <a class="nav-link {{if eq .name $tit }}active{{end}}" href="{{.url | lower}}">{{.name}} </a>

                                    <ul class="list-unstyled flex-column collapse" id="{{replaceRE "(\\s)" "-" .name | lower}}" aria-expanded="false">
                                        {{range .child }}
                                            
                                            {{ if .subChild }} 
                                            <li class="nav-item no-icon">
                                                <span href="#{{replaceRE "(\\s)" "-" .name | lower}}" class="arrow collapsed" data-toggle="collapse" data-target="#{{replaceRE "(\\s)" "-" .name | lower}}">&nbsp;</span>
                                                <a class="nav-link {{if eq .name $tit }} active{{end}}" href="{{.url | lower}}">{{.name}}</a>
                                           
                                                <ul class="list-unstyled flex-column collapse" id="{{replaceRE "(\\s)" "-" .name | lower}}" aria-expanded="false">
                                                    {{range .subChild}}
                                                        <li class="nav-item"><span class="no-icon"><i class="fa fa-minus"></i></span><a class="nav-link {{if eq .name $tit }} active{{end}}" href="{{.url | lower}}">{{.name}}</a></li>
                                                    {{end}}
                                                </ul>
                                            </li>
                                            
                                            {{else}}
                                                <li class="nav-item"><span class="">&nbsp;</span><a class="nav-link {{if eq .name $tit }} active{{end}}" href="{{.url | lower}}">{{.name}}</a></li>
                                            {{end}}
    
                                            
                                        {{end}}
                                    </ul>
                                </li>
                            {{else}}            
                                <li class="nav-item nochild">
                                    <span class="no-icon">&nbsp;</span> <a class="nav-link {{if eq .name $tit }} active {{end}}" href="{{.url | lower}}">{{.name}} </a>
                                </li>

                            {{end}}
                        {{end}}
                        
                    </ul>
                {{end}}
            {{else}}
                <ul class="nav flex-column sidebar-nav pl-0">
                    {{range .sectionList}}   
                        {{if .child}} 
                            <li class="nav-item">
                                <span href="{{.url}}" data-toggle="collapse" data-target="#{{replaceRE "(\\s)" "-" .name | lower}}" class="arrow collapsed">&nbsp;</span> 
                                <a class="nav-link {{if eq .name $tit }}active{{end}}" href="{{.url | lower}}">{{.name }} </a>

                                <ul class="list-unstyled flex-column collapse" id="{{replaceRE "(\\s)" "-" .name | lower}}" aria-expanded="false">
                                    {{range .child }}
                                        <!-- <li class="nav-item"><span class="no-icon">&nbsp;</span> <a class="nav-link" href="{{.url}}">{{.name}}</a></li> -->
                                       
                                        {{ if .subChild }} 
                                        <li class="nav-item no-icon">
                                            <span href="#{{replaceRE "(\\s)" "-" .name | lower}}" class="arrow collapsed" data-toggle="collapse" data-target="#{{replaceRE "(\\s)" "-" .name | lower}}">&nbsp;</span>
                                            <a class="nav-link {{if eq .name $tit }} active{{end}}" href="{{.url | lower }}">{{.name}} </a>
                                       
                                            <ul class="list-unstyled flex-column collapse" id="{{replaceRE "(\\s)" "-" .name | lower}}" aria-expanded="false">
                                                {{range .subChild}}
                                                    <li class="nav-item"><span class="no-icon"><i class="fa fa-minus"></i></span><a class="nav-link {{if eq .name $tit }} active {{end}}" href="{{.url | lower }}">{{.name}}</a></li>
                                                {{end}}
                                            </ul>
                                        </li>
                                        
                                        {{else}}
                                            <li class="nav-item"><span class="">&nbsp;</span><a class="nav-link {{if eq .name $tit }} active {{end}}" href="{{.url  | lower}}">{{.name}} </a></li>
                                        {{end}}

                                        
                                    {{end}}
                                </ul>

                            </li>  
                        {{else}}            
                            <li class="nav-item nochild">
                                <span class="no-icon">&nbsp;</span> <a class="nav-link {{if eq .name $tit }} active {{end}}" href="{{.url | lower }}">{{.name}}</a>
                            </li>
                        {{end}}
                    {{end}}
                </ul>


            {{end}}

        {{end}}

    </div>
</div>