{{/* Generate homepage. */}}

{{ define "main" }}  
    <div class="col-md-12 fullwidth mb-4">
        {{ partial "widgets/breadcrumb.html" .}}
    </div>

    {{if eq .Params.rightSide true }} 
        <div class="col-md-9 mainleft inner-main"> 
            {{ partial "widget_page.html" . }}
        </div>
    {{else}}
        <div class="col-md-12 fullwidth mainleft inner-main"> 
            {{ partial "widget_page.html" . }}
        </div>
    {{end}}
          
    {{if eq .Params.rightSide true}}
        {{ partial "main-right.html"}}
    {{end}}

{{ end }}